<div>
	<div class="row section-intro">
		<div class="col-twelve">
			<h5 data-i18n="contact.subTitle">Contato</h5>
			<h1 data-i18n="contact.title">Entre em contato comigo!</h1>
		</div>
	</div>
	<!-- /section-intro -->

	<div class="row contact-info">
		<div class="col-three tab-full">
			<div class="icon">
				<a href="mailto:davidpessoa.tech@gmail.com"
					><i class="fa fa-envelope fa-1x"></i
				></a>
			</div>

			<h5>Email</h5>

			<p>davidpessoa.tech@gmail.com</p>
		</div>

		<div class="col-three tab-full collapse">
			<div class="icon">
				<a
					href="https://www.linkedin.com/in/david-varao-lima-bentes-pessoa/"
					target="_blank"
					><i class="fab fa-linkedin fa-1x"></i
				></a>
			</div>

			<h5>LinkedIn</h5>

			<p>David Varão Lima Bentes Pessoa</p>
		</div>

		<div class="col-three tab-full collapse">
			<div class="icon">
				<a
					href="https://api.whatsapp.com/send?phone=5511947480925&text=Ol%C3%A1%2C%20David%21"
					target="_blank"
					><i class="fab fa-whatsapp fa-1x"></i
				></a>
			</div>

			<h5>WhatsApp</h5>

			<p data-i18n="contact.details.whatsapp.info">Celular: (11) 94748 0925</p>
		</div>

		<div class="col-three tab-full collapse">
			<div class="icon">
				<a href="https://github.com/david-pessoa" target="_blank"
					><i class="fab fa-github fa-1x"></i
				></a>
			</div>

			<h5>GitHub</h5>

			<p data-i18n="contact.details.github.info">Usuário: david-pessoa</p>
		</div>
	</div>
	<!-- /contact-info -->
</div>
