<div class="row">
	<div class="top-bar">
		<div style="display: flex; justify-content: center; align-items: center">
			<a class="menu-toggle" href="#"><span>Menu</span></a>

			<div class="logo">
				<a href="#">MENU</a>
			</div>
		</div>

		<nav id="main-nav-wrap">
			<ul class="main-navigation">
				<li class="current">
					<a class="smoothscroll" href="/#intro" data-i18n="menu.home"
						>Página Inicial</a
					>
				</li>
				<li>
					<a class="smoothscroll" href="/#about" data-i18n="menu.about"
						>Sobre mim</a
					>
				</li>
				<li>
					<a class="smoothscroll" href="/#resume" data-i18n="menu.resume"
						>Currículo</a
					>
				</li>
				<li>
					<a class="smoothscroll" href="/#skills" data-i18n="menu.skills"
						>Habilidades</a
					>
				</li>
				<li>
					<a class="smoothscroll" href="/#portfolio" data-i18n="menu.projects"
						>Projetos</a
					>
				</li>
				<li>
					<a
						class="smoothscroll"
						href="/#certificate"
						data-i18n="menu.certificates"
						>Certificados</a
					>
				</li>
				<li>
					<a class="smoothscroll" href="/#contact" data-i18n="menu.contact"
						>Contato</a
					>
				</li>
			</ul>
		</nav>
	</div>
	<!-- /top-bar -->
</div>
<!-- /row -->
